<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chat Room</title>
        <script src="https://unpkg.com/htmx.org"></script>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <div class="container">
            <div id="chat"  hx-get="/messages" hx-trigger="load, every 2s" hx-swap="beforeend" hx-include="#lastMessageId">

            </div>
            <input type="hidden" id="lastMessageId" name="lastMessageId" value="0">
            <div class="input-area">
                <div class="message-container">
                    <input type="text" id="content" name="content" placeholder="Your message" required />
                <button hx-trigger="click" type="button" hx-post="/sendMessages" hx-include="#user,#content,#lastMessageId" hx-swap="none">Send</button>
                </div>
                <br />
                <div class="user-container">
                    <label id="username-area" for="user"></label>
                    <input type="text" id="user" name="user" placeholder="Your name" required />
                    <button hx-trigger="click" type="button" hx-get="/username" hx-target="#username-area" hx-swap="innerHTML" hx-include="#user">Your Name</button>
                </div>
            </div>
        </div>
    </body>
</html>