body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    height: 80vh;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chat {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}

#chat p {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 8px;
    margin: 5px 0;
}

#chat p strong {
    color: #333;
}

.input-area {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
}

.message-container, .user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.message-container {
    justify-content: flex-start;
    flex: 1;
}

.user-container {
    justify-content: flex-end;
    flex: 1;
}

.input-area input[type="text"], .input-area button {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.input-area input[type="text"] {
    width: calc(100% - 120px);
    margin-right: 10px;
}

.input-area button {
    width: 100px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.input-area button:hover {
    background-color: #45a049;
}

#username {
    background-color: #f1f1f1;
    color: #333;
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: calc(100% - 120px);
    margin-right: 10px;
}

#lastMessageId {
    display: none;
}

.user-container label {
    margin-bottom: 10px;
    font-weight: bold;
}
